{% extends 'base.html' %}

{% block title %}
Archiko - About
{% endblock title %}

{% block navbar %}
<div class="container p-3" id="zetmono">
<div class="navbar-nav">

        <small style="color:#80ED99;float:left;margin-top:13px;position:absolute" class="badge bg-dark" >/about</small>
        <div class="nav-link ms-auto fas fa-bars fa-2x" href="#" id="dropdownMenuButton1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#80ED99;float:right;"></div>

      <ul class="dropdown-menu dropdown-menu-end bg-dark p-3 " style="border-radius:10px" aria-labelledby="dropdownMenuButton1">
        <li><a class="bg-transparent dropdown-item" style="color:#80ED99;" href="{{URLSITE}}/"><small>/Home</small></a></li>
        <li><a class="bg-transparent dropdown-item" style="color:#80ED99;"href="{{URLSITE}}/blog"><small>/Blog</small></a></li>
        <li><a class="bg-transparent dropdown-item" style="color:#80ED99;" href="{{URLSITE}}/about"><small>/About</small></a></li>
      </ul>

</div>
</div>
{% endblock navbar %}


{% block contents %}
<div class="p-2">
<h2 style="color:#80ED99"><b>No Future</b></h2>
<small style="color:white">Halo <b>Pengguna Internet! &#128123;</b><br><br>
        Archiko adalah blog yang ngeshare artikel tentang bahasa pemogramman python,
materi matematika dan mungkin data scients juga ada, tergantung kalo saya tidak males belajar, namun tidak menutup kemunginkan bakalan ada artikel oot (out of title).
<br><br>Kata archiko itu sendiri sebenarnya berasal dari kepanjangan archives hiko, kenapa archives? karena memang awalnya ini hanya untuk arsip pelajaran pribadi, agar ketika saya lupa bisa baca-baca lagi materi nya. sedangkan kata hiko itu adalah nickname yang sering saya gunakan.<br><br>
<a href="https://t.me/archivehiko" style="color:#80ED99;text-decoration:none;"><small>/Subs #telegram</small></a>
<br><br>

        <h2 style="color:#80ED99"><b>Author</b></h2>
        Nama saya ardho ainullah saya hanya seorang pelajar biasa yang suka makan sate dan selain itu saya juga suka kucing,satu lagi saya adalah pengguna linux!. oke karena tidak ada hal yang menarik tentang saya jadi itu aja. mau ngasih masukan untuk archiko?
<a href="mailto: arch.hiko@gmail.com" style="color:#80ED99;text-decoration:none">arch.hiko@gmail.com</a> <br><br>Enjoy!
</small>
<br><br>
<small style="font-size:12px" class="text-white">#beliinhikosate&#128640;</small><br><br>
<a href="https://trakteer.id/archiko">
<img width=150 class="rounded shadow-lg" src="{{URLSITE}}/images/trakteer.jpg">
</a>
</div>

{% endblock contents %}

{% block footer %}
<br><br>
{% include 'snippets/footer.html' %}
{% endblock footer %}
