{% extends 'base.html' %}

{% block title %}
{% if article %}
{{ article.title }}
{% endif %}
{% endblock title %}

{% block navbar %}
<div class="container p-3" id="zetmono">
	<div class="navbar-nav">
		<small style="color:#80ED99;float:left;margin-top:13px;position:absolute" class="badge bg-dark" >
			cat *.md
		</small>
			<div class="nav-link ms-auto fas fa-bars fa-2x" href="#" id="dropdownMenuButton1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#80ED99;float:right;"></div>
			<ul class="dropdown-menu dropdown-menu-end bg-dark p-3 " style="border-radius:10px" aria-labelledby="dropdownMenuButton1">
				<li><a class="bg-transparent dropdown-item" style="color:#80ED99;" href="{{URLSITE}}/"><small>/Home</small></a></li>
				<li><a class="bg-transparent dropdown-item" style="color:#80ED99;"href="{{URLSITE}}/blog"><small>/Blog</small></a></li>
				<li><a class="bg-transparent dropdown-item" style="color:#80ED99;" href="{{URLSITE}}/about"><small>/About</small></a></li>
			</ul>

	</div>
</div>
{% endblock navbar %}


{% block contents %}
<!--
.
                    / V\
                  / `  /
                 <<   |
                 /    |
               /      |
             /        |
           /    \  \ /
          (      ) | |
  ________|   _/_  | |
<__________\______)\__)
-->

{% if article %}
<div class="text-white">
	<img src="{{URLSITE}}/thumb.webp" style="display:none">
	<img src="{{URLSITE}}/theme/img/author.jpg" class="rounded-circle" width=45>
	<small style="font-size:12px">&nbsp;{{article.author}} - </small> 
        <small style="font-size:12px" class="text-secondary">{{article.locale_date}} </small>
	<br><br>
        <span style="text-decoration:none;color:white"><h2><b>{{article.title}}</b></h2></span>
	{% for tag in article.tags %}
        <a href="{{URLSITE}}/{{tag.url}}"><small class="badge bg-dark" style="color:white">{{tag}}</small></a>
	{% endfor %}
</div>
<br>
<div class="text-white">
	{{article.content}}
</div>
{% endif %}
{% endblock contents %}

{% block footer %}
<br><br>
{% include 'snippets/footer.html' %}
{% endblock footer %}
