{% extends "base.html" %}

{% block title %}
Archives Hiko
{% endblock title %}
{% block contents %}   

<div style="padding-top:60%">

<h1 class="badge bg-white text-dark" style="font-size:24px">ひこアーカイブ</h1>
<br>
<div class="typewriter">
        <div class="typewriter-text" style="text-indent:2px;">
                <small style="font-size:12px">a python enthusiast
                </small>
        </div>
</div>
<br>

<div class="mt-5">
        <br>
        <a href="{{URLSITE}}/blog" style="color:white;text-decoration:none;">
                <small>/Blog</small>
        </a>
        </br>
        <a href="{{URLSITE}}/about" style="color:white;text-decoration:none;">
                <small>/About</small>
        </a>
        <br>
        <br>
</div>
</div>

{% endblock contents %}
