{% extends "base.html" %}

{% block title %}
Archives Hiko
{% endblock title %}


{% block contents %}   
<!--
\|/          (__)
     `\------(oo) he?
       ||    (__)
       ||w--||     \|/
   \|/
-->

<div style="top: 40%;position: absolute">
	<span class="text-white" style="font-size:30px"><b>ひこアーカイブ</b></span>
	<img src="/theme/img/cute.gif" width=30 style="margin-top:-15px" alt="moshi moshi"> 
	<br>
	<div class="typewriter">
		<div class="typewriter-text" style="text-indent:2px;">
			<small style="font-size:12px" class="text-secondary">a python enthusiast
                </small>
		</div>
	</div>
	<br>

	<div class="mt-5">
		<a href="{{URLSITE}}/blog" style="color:white;text-decoration:none;">
			<small>/Blog</small>
		</a>
		<br>
		<a href="{{URLSITE}}/about" style="color:white;text-decoration:none;">
			<small>/About</small>
		</a>
		<br>
		<hr class="bg-secondary">
		<a href="https://discord.gg/7JeENZXmgF" style="color:white;text-decoration:none;" >
			<p class="badge bg-dark"><i class="fab fa-discord"></i> Discord</p>
		</a>
		<a href="https://github.com/archiko" style="color:white;text-decoration:none;" >
                        <p class="badge bg-dark"><i class="fab fa-github"></i> Github</p>
                </a>
	</div>
</div>
{% endblock contents %}
